*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Bebas Neue', cursive;
}

.contenedor{
    width: 95%;
    margin: auto;
}


header {
    padding: 20px 0 ;

}

header .contenedor {
    display: flex;
    justify-content:space-between;
    align-items: center;    
}

header nav a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}
/*-----------------Top Gun---------------------*/

.peliculas {
    font-size: 16px;
    min-height: 40.62em;
    color: rgb(255, 255, 255);
    background: url(./imagenes/TopGun.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: center;
}


.peliculas .titulo {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
}


/*-------------Jurassic*/

.pelicula {
    font-size: 16px;
    min-height: 40.62em;
    color: white;
    background: url(./imagenes/jurassic.jpg);
    background-position: center top;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: center;
}


.pelicula .titulo {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
}


/*---- Dragon Ball*/
.dragonball {
    font-size: 16px;
    min-height: 40.62em;
    color: rgb(255, 255, 255);
    background: url(./imagenes/dragonball.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: center;
}


.dragonball .titulo {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
}


/** Spider Man--*/

.sp {
    font-size: 16px;
    min-height: 40.62em;
    color: white;
    background: url(./imagenes/spider.jpg);
    background-position:center top;
    background-size:cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: center;
}


.sp .titulo {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
}


/*----Your Name------*/

.your {
    font-size: 16px;
    min-height: 40.62em;
    color: white;
    background: url(./imagenes/your\ name.jpg);
    background-position:center center ;
    background-size:cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: center;
}


.your .titulo {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
}
